<a href="/">Home</a>
<a href="/savedarticles">Saved Articles</a>

<h2> Notes Form</h2>


<form action="/">
    Title:<br>
    <input type="text" name="title">
    <br>
    <input type="text" name="body">
    <br>
    <input type="submit" value="Save">
</form>